In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
cleanData = pd.read_csv('../../Data/cleanedData/CleanedScaledData.csv')
cleanData = cleanData[['Target Gene Symbol','sgRNA Context Sequence', 'Domain','Orientation', 
       'ATAC overlap with peak sum', 'DHS overlap with peak sum', 'H3K4me3', 'H3k27ac', 
       'sgRNA \'Cut\' Site TSS Offset', 'doubleZscore','TSS Bucket (-5kb to 5kb)', 'rs3ChenSeqScore']].copy()
cleanData

,Target Gene Symbol,sgRNA Context Sequence,Domain,Orientation,ATAC overlap with peak sum,DHS overlap with peak sum,H3K4me3,H3k27ac,sgRNA 'Cut' Site TSS Offset,doubleZscore,TSS Bucket (-5kb to 5kb),rs3ChenSeqScore
0,AATF,AAAACTAAGTTGGAGACTGATGGAAGGATT,Kox1,++,0.285714,0.0,1.0,1.000000,681.0,-0.162900,"[675, 700)",0.517537
1,AATF,AAAACTAAGTTGGAGACTGATGGAAGGATT,Zim3,++,0.285714,0.0,1.0,1.000000,681.0,-0.335930,"[675, 700)",0.517537
2,AATF,AAACTTGGTGCTCGGCTGGATGGGCGGAAC,Kox1,++,1.000000,0.0,1.0,1.000000,475.0,0.343028,"[475, 500)",0.011229
3,AATF,AAACTTGGTGCTCGGCTGGATGGGCGGAAC,Zim3,++,1.000000,0.0,1.0,1.000000,475.0,0.487013,"[475, 500)",0.011229
4,AATF,AAAGAAGCCGAAGCCCTCCTCCCGAGGCCG,Kox1,+-,1.000000,0.0,1.0,1.000000,420.0,1.403622,"[400, 425)",0.316988
...,...,...,...,...,...,...,...,...,...,...,...,...
163308,ZNHIT6,TTTAATGGTTAACACAGATTAGGGTGGGTT,Kox1,--,1.000000,0.0,1.0,1.000000,-293.0,-0.458460,"[-300, -275)",0.611774
163309,ZNHIT6,TTTACGGCTCTGCGGAGGCCCTGCCGGATT,Kox1,-+,1.000000,1.0,1.0,1.000000,-80.0,-0.478862,"[-100, -75)",-0.431003
163310,ZNHIT6,TTTAGTGGTAAAAGAAGCGAAGGTGGGTGA,Kox1,--,0.857143,0.0,1.0,1.000000,541.0,-0.386223,"[525, 550)",0.557163
163311,ZNHIT6,TTTCTGGAGTCAGACGGCGTTCGCGGGGGT,Kox1,--,0.142857,0.0,1.0,0.666667,943.0,-0.296669,"[925, 950)",-0.492183
163312,ZNHIT6,TTTGTGGCTGCTTGGCTCCACACGTGGGCC,Kox1,--,1.000000,1.0,1.0,1.000000,47.0,-0.629514,"[25, 50)",-0.326489

In [6]:
# one-hot encoding to interpret shap value later
categorical_cols = ['Domain','Orientation','TSS Bucket (-5kb to 5kb)']
cleanData_encoded = pd.get_dummies(cleanData, columns=categorical_cols)

bool_cols = cleanData_encoded.select_dtypes(include=['bool']).columns.tolist()
cleanData_encoded[bool_cols] = cleanData_encoded[bool_cols].astype(int)

cleanData_encoded

,Target Gene Symbol,sgRNA Context Sequence,ATAC overlap with peak sum,DHS overlap with peak sum,H3K4me3,H3k27ac,sgRNA 'Cut' Site TSS Offset,doubleZscore,rs3ChenSeqScore,Domain_Kox1,...,"TSS Bucket (-5kb to 5kb)_[750, 775)","TSS Bucket (-5kb to 5kb)_[775, 800)","TSS Bucket (-5kb to 5kb)_[800, 825)","TSS Bucket (-5kb to 5kb)_[825, 850)","TSS Bucket (-5kb to 5kb)_[850, 875)","TSS Bucket (-5kb to 5kb)_[875, 900)","TSS Bucket (-5kb to 5kb)_[900, 925)","TSS Bucket (-5kb to 5kb)_[925, 950)","TSS Bucket (-5kb to 5kb)_[950, 975)","TSS Bucket (-5kb to 5kb)_[975, 1000)"
0,AATF,AAAACTAAGTTGGAGACTGATGGAAGGATT,0.285714,0.0,1.0,1.000000,681.0,-0.162900,0.517537,1,...,0,0,0,0,0,0,0,0,0,0
1,AATF,AAAACTAAGTTGGAGACTGATGGAAGGATT,0.285714,0.0,1.0,1.000000,681.0,-0.335930,0.517537,0,...,0,0,0,0,0,0,0,0,0,0
2,AATF,AAACTTGGTGCTCGGCTGGATGGGCGGAAC,1.000000,0.0,1.0,1.000000,475.0,0.343028,0.011229,1,...,0,0,0,0,0,0,0,0,0,0
3,AATF,AAACTTGGTGCTCGGCTGGATGGGCGGAAC,1.000000,0.0,1.0,1.000000,475.0,0.487013,0.011229,0,...,0,0,0,0,0,0,0,0,0,0
4,AATF,AAAGAAGCCGAAGCCCTCCTCCCGAGGCCG,1.000000,0.0,1.0,1.000000,420.0,1.403622,0.316988,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163308,ZNHIT6,TTTAATGGTTAACACAGATTAGGGTGGGTT,1.000000,0.0,1.0,1.000000,-293.0,-0.458460,0.611774,1,...,0,0,0,0,0,0,0,0,0,0
163309,ZNHIT6,TTTACGGCTCTGCGGAGGCCCTGCCGGATT,1.000000,1.0,1.0,1.000000,-80.0,-0.478862,-0.431003,1,...,0,0,0,0,0,0,0,0,0,0
163310,ZNHIT6,TTTAGTGGTAAAAGAAGCGAAGGTGGGTGA,0.857143,0.0,1.0,1.000000,541.0,-0.386223,0.557163,1,...,0,0,0,0,0,0,0,0,0,0
163311,ZNHIT6,TTTCTGGAGTCAGACGGCGTTCGCGGGGGT,0.142857,0.0,1.0,0.666667,943.0,-0.296669,-0.492183,1,...,0,0,0,0,0,0,0,1,0,0
163312,ZNHIT6,TTTGTGGCTGCTTGGCTCCACACGTGGGCC,1.000000,1.0,1.0,1.000000,47.0,-0.629514,-0.326489,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
def clean_column_name(name):
    return (
        str(name)
        .replace('[', '_')
        .replace(']', '_')
        .replace('<', '_')
        .replace('>', '_')
        .replace(' ', '_')
        .replace(',', '_')
        .replace('(', '_')
        .replace(')', '_')
    )

cleanData_encoded.columns = [clean_column_name(col) for col in cleanData_encoded.columns]

In [8]:
# Get unique Gene Symbol
geneCategories = cleanData_encoded['Target_Gene_Symbol'].unique()

# Split the categories into train (80%) and test sets(20%) by Gene Symbol
train_genes, test_genes = train_test_split(geneCategories, test_size=0.2, random_state=6)

# Train set
train_df = cleanData_encoded[cleanData_encoded['Target_Gene_Symbol'].isin(train_genes)].copy()
# Test set
test_df = cleanData_encoded[cleanData_encoded['Target_Gene_Symbol'].isin(test_genes)].copy()

In [10]:
# Check the sum of unique Gene in train and test is equal to unique gene in the entire dataset
train_df['Target_Gene_Symbol'].nunique() + test_df['Target_Gene_Symbol'].nunique() == cleanData_encoded['Target_Gene_Symbol'].nunique()

True

In [15]:
originalCleanedData = pd.read_csv('../../Data/cleanedData/CombinedCleanedDatasets.csv')
originalCleanedData['sgRNA Context Sequence'] = originalCleanedData['sgRNA Context Sequence'].apply(lambda x: x.upper())

In [20]:
datasetFind_train = originalCleanedData[originalCleanedData['sgRNA Context Sequence'].isin(train_df.sgRNA_Context_Sequence)]
datasetFind_test = originalCleanedData[originalCleanedData['sgRNA Context Sequence'].isin(test_df.sgRNA_Context_Sequence)]

In [21]:
datasetFind_train.groupby(['DataSet','Domain'])[['sgRNA Context Sequence','Target Gene Symbol']].nunique()

                sgRNA Context Sequence  Target Gene Symbol
DataSet Domain
Gilbert Kox1                     15072                  30
InHouse Kox1                     32682                 110
        Zim3                     32685                 110
Nunez   Kox1                     53852                 267

In [22]:
datasetFind_test.groupby(['DataSet','Domain'])[['sgRNA Context Sequence','Target Gene Symbol']].nunique()

                sgRNA Context Sequence  Target Gene Symbol
DataSet Domain
Gilbert Kox1                      3437                   6
InHouse Kox1                      9355                  31
        Zim3                      9353                  31
Nunez   Kox1                     14723                  69

In [23]:
train_df.to_csv('../../Data/modelTraining/trainData.csv', index = False)
test_df.to_csv('../../Data/modelTraining/testData.csv', index = False)